@using FinancialTips.Client.Components

<EditForm Model="@customer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <fieldset disabled="@Disabled">

        <div class="form-group">

            <div class="form-group">

                <label>Client Name: </label>
                <div>
                    <InputText @bind-Value="customer.CustName" class="form-control" />
                    <ValidationMessage For="@(()=> customer.CustName)" />
                </div>
            </div>

        </div>


        <div class="form-group">

            <div class="form-group">

                <label>Client Age: </label>
                <div>
                    <InputNumber @bind-Value="customer.CustAge" class="form-control" />
                    <ValidationMessage For="@(()=> customer.CustAge)" />
                </div>
            </div>

        </div>


        <div class="form-group">

            <div class="form-group">

                <label>Client Gender: </label>
                <div>
                    <InputText @bind-Value="customer.CustGender" class="form-control" />
                    <ValidationMessage For="@(()=> customer.CustGender)" />
                </div>
            </div>

        </div>


        <div class="form-group">

            <div class="form-group">

                <label>Client Contact: </label>
                <div>
                    <InputNumber @bind-Value="customer.CustContact" class="form-control" />
                    <ValidationMessage For="@(()=> customer.CustContact)" />
                </div>
            </div>

        </div>


        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>

    </fieldset>


    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }




    <BackToList Target="customers" />

</EditForm>


@code {


    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Customer customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
